html, body{
     overflow-x: hidden;
    
 }
 body{
     position: relative;
 }
 
 
 
 .img-banner img{
    width: 90%;
    height:400px;
}
.text-banner h1{
    font-weight: 800;
    font-size: 47px;
    text-align: center;
    margin: 0;
}
 

