.footer-container{
    
    position: relative;
    
    
}

.footer{
    position:absolute ;
    top: 0;
    width: 100vw;
}

@media (min-width: 3000px) and (max-width:600px) {

  .footer{
      text-align: center;
  }
}
